{% extends 'base/main.html' %}
{% load static %}

{% block title %}Error{% endblock %}
{% block contenttitle %}Something went wrong.{% endblock %}
{% block contentsubtitle %}Account could not be activated.{% endblock %}

{% block headfiles %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container mt--8 pb-5">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-7">
			<div class="alert alert-danger">
				<p class="mb-0"><strong>Something went wrong. </strong>The activation link you provided is invalid. This may be because the account you are trying to activate has been activated, or there is no account associated with the activation link. Contact <a href="mailto:contact@live-competition.org" class="text-white">contact@live-competition.org</a> if you have any questions or concerns.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}