{% extends 'base/main.html' %}
{% load static %}

{% block title %}Recover Account{% endblock %}
{% block contenttitle %}Recover Account{% endblock %}
{% block contentsubtitle %}Recover your password, and username below.{% endblock %}

{% block headfiles %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container mt--8 pb-5">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-7">
			<div class="card">
				<div class="card-body p-5">
             		<form method="post">
    					{% csrf_token %}
    					<div class="form-group">
                            <label for="{{form.email.id_for_label}}">Email of Account</label>
    						<div class="input-group">
    							<div class="input-group-prepend">
                      				<span class="input-group-text"><i class="fas fa-at"></i></span>
                    			</div>
    							<input type="email" name="{{form.email.html_name}}" autofocus id="{{form.email.id_for_label}}" class="form-control pl-3" required />
    						</div>
    					</div>
    					<div class="text-center">
    						<input type="submit" value="Reset Password" class="btn btn-primary" />
                            <p class="mt-4 mb-0 small text-muted">If you are a partner, the email of the account should be under your partner's main contact for LIVE.</p>
    					</div>
  					</form>
            	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}