{% extends 'base/main.html' %}
{% load static %}

{% block title %}Sign In{% endblock %}
{% block contenttitle %}Sign In{% endblock %}
{% block contentsubtitle %}Enter a platform for a platform to showcase elite talent amongst partners and delegates.{% endblock %}

{% block headfiles %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container mt--8 pb-5">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-7">
            {% if form.errors %}
            <div class="alert alert-danger mb-0" role="alert">
                <p class="mb-0"><strong>Incorrect username or password.</strong> Please try again.</p>
            </div>
            {% endif %}
            {% if 'confirmed' in request.path %}
            <div class="alert alert-success mb-0" role="alert">
                <p class="mb-0"><strong>Your account has been activated.</strong> Please login with the username, and password provided to you.</p>
            </div>
            {% endif %}
			<div class="card">
				<div class="card-body p-5">
             		<form method="post">
    					{% csrf_token %}
    					<div class="form-group">
                            <label for="{{form.username.id_for_label}}">Username</label>
    						<div class="input-group">
    							<div class="input-group-prepend">
                      				<span class="input-group-text"><i class="fas fa-user-tie"></i></span>
                    			</div>
    							<input type="text" name="{{form.username.html_name}}" autofocus id="{{form.username.id_for_label}}" class="form-control pl-3" required />
    						</div>
    					</div>
    					<div class="form-group">
                            <label for="{{form.password.id_for_label}}">Password</label>
    						<div class="input-group">
    							<div class="input-group-prepend">
                      				<span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
                    			</div>
    							<input type="password" name="{{form.password.html_name}}" required id="{{form.password.id_for_label}}" class="form-control pl-3" />
    						</div>
    					</div>
                        {% if 'confirmed' in request.path %}
                        <input type="hidden" name="next" value="{% url 'profile-confirmed' %}" />
                        {% endif %}
    					<div class="text-center">
                            <p><small>By signing in, you agree to the <a href="{% url 'terms_of_service' %}">Terms of Service</a>.</small></p>
    						<input type="submit" value="Sign In" class="btn btn-primary" />
    					</div>
  					</form>
            	</div>
			</div>
		</div>
	</div>
	<div class="row mt-2 justify-content-center">
		<div class="col-6">
			<a href="{% url 'forgot-password' %}" class="text-white"><small>Recover your account</small></a>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}