{% extends 'base/main.html' %}
{% load static %}

{% block title %}New Account{% endblock %}
{% block contenttitle %}Delegate - New Account{% endblock %}
{% block contentsubtitle %}Create a new account for delegates here. Will automatially email that person to retreive account.{% endblock %}

{% block headfiles %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container mt--8 pb-5">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-7">
        {% if errors %}
        <div class="alert alert-danger pb-0" role="alert">
            <p><strong>Something went wrong.</strong> Please try again.</p>
        </div>
        {% endif %}
			<div class="card">
				<div class="card-body p-5">
             		<form method="post" enctype="multipart/form-data">
    					{% csrf_token %}
    					{{ form.as_p }}
                        <input type="submit" />
  					</form>
            	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}