@font-face {
    font-family: 'ProximaNova';
    src: url('ProximaNova-Thin.eot');
    src: url('ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Thin.woff2') format('woff2'),
         url('ProximaNova-Thin.woff') format('woff'),
         url('ProximaNova-Thin.ttf') format('truetype'),
         url('ProximaNova-Thin.svg#proxima_nova_ltthin') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('ProximaNova-Regular.eot');
    src: url('ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Regular.woff') format('woff'),
         url('ProximaNova-Regular.ttf') format('truetype'),
         url('ProximaNova-Regular.svg#proxima_nova_altregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNovaSemiBold';
    src: url('ProximaNova-Semibold.eot');
    src: url('ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Semibold.woff2') format('woff2'),
         url('ProximaNova-Semibold.ttf') format('truetype'),
         url('ProximaNova-Semibold.svg#proxima_nova_ltsemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url('ProximaNova-Bold.eot');
    src: url('ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
         url('ProximaNova-Bold.woff2') format('woff2'),
         url('ProximaNova-Bold.woff') format('woff'),
         url('ProximaNova-Bold.ttf') format('truetype'),
         url('ProximaNova-Bold.svg#proxima_nova_altbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPT-Bold.ttf') format('truetype');
    src: url('FuturaPTBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT';
    src: url('FuturaPTMedium.otf') format('opentype');
    src: url('FuturaPT-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}