{% extends 'base/dashboard.html' %}
{% load static %}

{% block title %}The LIVE Team{% endblock %}
{% block contenttitle %}The LIVE Team{% endblock %}

{% block headfiles %}
{% endblock %}

{% block navbar %}
	{% include 'base/dashboard_navigation.html' with active_tab='contact_us' %}
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
{% for contact in object_list %}
	<div class="col-xl-3 col-lg-4 col-sm-6 mb-4">
		<div class="card bg-white" style="max-width:500px;">
			<img src="{{contact.profile_picture.url}}" alt="{{contact.full_name}}" class="img-fluid" />
			<div class="card-body">
					<p class="h2 text-uppercase text-secondary mt-0" style="line-height: normal"><span class="h4 text-uppercase text-primary">{{contact.get_position_title}}</span><br/>{{contact.full_name}}</p>
					<hr class="my-2" />
					<div class="btn-group pt-2">
					<a href="{{ contact.linkedin }}" class="btn btn-secondary" target="_blank"><i class="fab fa-linkedin-in"></i></a>
					{% if user.is_partner %}
					<a href="{{contact.resume.url}}" class="btn btn-dark" download><i class="fas fa-file"></i></a>
					<a href="mailto:{{ contact.email_address }}" class="btn btn-primary"><i class="fas fa-at"></i></a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% empty %}
	<div class="col mb-4">
		<div class="alert alert-danger">
			<p class="mb-0"><strong>Sorry, the list of the LIVE team is unavailable at the moment.</strong></p>
		</div>
	</div>
{% endfor %}
</div>
<div class="mb--4"></div>
{% endblock %}

{% block scripts %}
{% endblock %}
