{% extends 'base/dashboard.html' %}
{% load static %}

{% block title %}President's Message{% endblock %}
{% block contenttitle %}President's Message{% endblock %}

{% block headfiles %}
{% endblock %}

{% block navbar %}
	{% include 'base/dashboard_navigation.html' with active_tab='A' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
		<div class="card bg-white p-5">
			<p>Cupcake ipsum dolor sit amet lemon drops marzipan oat cake candy canes. Biscuit bear claw jelly beans dragée powder I love jelly-o. Dragée biscuit I love chocolate bar. Icing liquorice icing I love sugar plum. Donut cheesecake lollipop bear claw danish topping chocolate I love. Danish pastry cotton candy cheesecake gingerbread wafer dessert I love chocolate. I love I love soufflé gummi bears dessert candy. I love macaroon pastry sesame snaps cake cotton candy topping jelly toffee. I love cupcake dessert tart pastry cotton candy wafer lollipop topping. Lollipop cupcake sweet bonbon chocolate lollipop I love. Jelly wafer cake biscuit. Pie I love candy biscuit I love gummies tart.</p>
			<p>Wafer marshmallow toffee sweet roll chocolate bar. Candy canes pastry sweet gummies lollipop liquorice bonbon. Chocolate ice cream caramels donut topping. Bear claw pastry biscuit macaroon liquorice jujubes. Chocolate marshmallow gummi bears dessert. Gingerbread wafer brownie chupa chups pie. Icing lemon drops donut dessert cookie. Chocolate bar sweet icing candy candy. Cupcake I love I love sesame snaps. Carrot cake fruitcake I love. Dessert macaroon brownie sweet cookie. Sesame snaps I love brownie I love wafer marshmallow oat cake tootsie roll. Jujubes pastry halvah. Tiramisu icing sweet roll donut tootsie roll donut chocolate bar pastry jelly beans.</p>
			<p>Apple pie donut cake oat cake. Chupa chups marzipan candy canes chupa chups I love. Cheesecake oat cake I love soufflé. I love chocolate bar carrot cake I love sesame snaps icing marshmallow. Bonbon cake chocolate cupcake. Ice cream caramels donut pastry pie gummi bears macaroon. Cheesecake chupa chups pudding cookie tootsie roll gummi bears. Fruitcake cookie I love. Caramels soufflé tart I love soufflé. Donut candy jujubes. Powder donut bonbon. Tiramisu tiramisu halvah. Muffin croissant gummies. Bear claw cupcake cookie.</p>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}