{% extends 'base/main.html' %}
{% load static %}

{% block title %}Credits{% endblock %}
{% block contenttitle %}Credits{% endblock %}
{% block contentsubtitle %}Portal could not have been built without the help from our partner, the developer of portal, and open source software.{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}

<div class="container mt--8 pb-5">
	<div class="row justify-content-center pb-3">
		<div class="col-lg-6 col-md-7">
			<div class="card">
				<div class="card-header">
             		<h3 class="mb-0 text-uppercase">Help from Our Partner</h3>
            	</div>
				<div class="card-body">
					<img src="{% static 'branding/powered-logo.png' %}" alt="Microsoft Azure" class="img-fluid" />
             		<p>We would like to acknowledge Microsoft for allowing portal to be hosted on <a href="https://azure.microsoft.com/en-ca/" target="_blank">Microsoft Azure</a> servers, while also providing enterprise knowledge during the development process.</p>
            	</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center pb-3">
		<div class="col-lg-6 col-md-7">
			<div class="card">
				<div class="card-header">
             		<h3 class="mb-0 text-uppercase">Developer of Portal</h3>
            	</div>
				<div class="card-body">
             		<p>The LIVE Competition Portal was developed by the IT Solutions Manager of LIVE 2019, <a href="https://alvintang.me" target="_blank">Alvin Tang</a>. For any issues with the portal, please contact him at <a href="mailto:alvin.tang@mail.utoronto.ca?subject=LIVE%20Portal">alvin.tang@mail.utoronto.ca</a></p>
            	</div>
			</div>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-7">
			<div class="card">
				<div class="card-header border-0">
             		<h3 class="mb-0 text-uppercase">Software Used</h3>
            	</div>
				<div class="table-responsive">
					<table class="table align-items-center table-flush">
						<thead>
							<tr>
								<th scope="col">Software</th>
								<th scope="col">Uses</th>
								<th scope="col">External Links</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row">Argon Dashboard</th>
								<td>Theme/Styling</td>
								<td><a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" target="_blank">License</a></td>
							</tr>
							<tr>
								<th scope="row">Django</th>
								<td>Backend</td>
								<td><a href="https://github.com/django/django/blob/master/LICENSE" target="_blank">License</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}