{% extends 'base/main.html' %}
{% load static %}

{% block title %}Privacy Policy{% endblock %}
{% block contenttitle %}Privacy{% endblock %}
{% block contentsubtitle %}We take your privacy very seriously. As such, we have laid out our privacy policy for you to better understand what we will do with your information.{% endblock %}

{% block headfiles %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container mt--8 pb-5">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-7">
			<div class="card">
				<div class="card-body">
             		{% include 'policies/privacy_policy.html' %}
            	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}