{% extends 'base/main.html' %}
{% load static %}

{% block title %}Terms of Service{% endblock %}
{% block contenttitle %}Terms of Service{% endblock %}
{% block contentsubtitle %}By continuing to use this web application, you agree to the following terms of service.{% endblock %}

{% block headfiles %}
<style type="text/css">
#tOSListed > li {
	margin-bottom:1rem;
}

#markTOS {
	display:none;
}
</style>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container mt--8 pb-5">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-7">
			<div class="card">
				<div class="card-body">
					{% include 'policies/terms_of_service.html' %}
            	</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}