<footer class="footer py-5 bg-white">
	<div class="container">
		<div class="row align-items-center justify-content-xl-between">
			<div class="col-lg-6">
				<div class="copyright text-center text-xl-left text-muted">
					&copy; 2018/2019&nbsp;<a href="https://www.live-competition.org" class="font-weight-bold" target="_blank">LIVE Competition</a> | Portal powered by <a href="https://azure.microsoft.com/en-ca/" target="_blank">Microsoft Azure</a>
				</div>
			</div>
		<div class="col-lg-6">
			<ul class="nav nav-footer justify-content-center justify-content-xl-end">
				<li class="nav-item">
					<a href="{% url 'privacy_policy' %}" class="nav-link">Privacy Policy</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'terms_of_service' %}" class="nav-link">Terms of Service</a>
				</li>
				<li class="nav-item">
					<a href="{% url 'credits' %}" class="nav-link">Credits</a>
				</li>
			</ul>
		</div>
	</div>
</footer>